@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	background-color: #fef3f3; /* Ganti dengan warna yang Anda inginkan */
}

:root {
	--scrollbar-width: 8px;
	--scrollbar-color: rgba(155, 155, 155, 0.5);
	--scrollbar-bg: transparent;
}

/* Webkit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: calc(var(--scrollbar-width) / 2);
	border: 2px solid var(--scrollbar-bg);
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
}
